<?xml version="1.0" encoding="utf-8"?>
<plugin id="cordova-plugin-bdlocation" version="0.0.1" 
        xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android">
    <name>BDLocation</name>
    <description>BDLocation by ZXG</description>
    <js-module name="BDLocation" src="www/BDLocation.js">
        <clobbers target="navigator.BDLocation"/>
    </js-module>
    <platform name="android">
        <config-file target="AndroidManifest.xml" parent="/*">            
			<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
			<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
			<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>
			<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
			<uses-permission android:name="android.permission.CHANGE_WIFI_STATE"></uses-permission>
			<uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
			<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
			<uses-permission android:name="android.permission.INTERNET" />
			<uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"></uses-permission>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
        	<service android:name="com.baidu.location.f" android:enabled="true" android:process=":remote"></service>
			<meta-data android:name="com.baidu.lbsapi.API_KEY" android:value="HvANcdHK8crcW9qYUejXO0vc" />
        </config-file>
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="BDLocation">
                <param name="android-package" value="org.apache.cordova.bdlocation.BDLocation"/>
            </feature>
        </config-file>
        <source-file src="src/android/BDLocation.java" target-dir="src/org/apache/cordova/bdlocation"/>
        <source-file src="src/android/BDLocationHelper.java" target-dir="src/org/apache/cordova/bdlocation"/>
        <source-file src="src/android/libs/locSDK_6.22.jar" target-dir="libs"/>
        <source-file src="src/android/libs/arm64-v8a/liblocSDK6a.so" target-dir="libs/arm64-v8a"/>
        <source-file src="src/android/libs/armeabi/liblocSDK6a.so" target-dir="libs/armeabi"/>
        <source-file src="src/android/libs/armeabi-v7a/liblocSDK6a.so" target-dir="libs/armeabi-v7a"/>
        <source-file src="src/android/libs/mips/liblocSDK6a.so" target-dir="libs/mips"/>
        <source-file src="src/android/libs/mips64/liblocSDK6a.so" target-dir="libs/mips64"/>
        <source-file src="src/android/libs/x86/liblocSDK6a.so" target-dir="libs/x86"/>
        <source-file src="src/android/libs/x86_64/liblocSDK6a.so" target-dir="libs/x86_64"/>
    </platform>
</plugin>